.card{
  width: 32%;
  margin-left: 1%;
}

.title{
  text-align: left; 
  text-decoration: underline;
  color: darkslategray;
}

.price{
  color:firebrick;
}

.annonced{
  text-align: center;
  font-variant: small-caps;
}

.main_text{
  color:dimgray;
}